/* upload_files / job_resume_match / cover_letter_question */
.nav{
  --bs-link-hover-color: #ffffff;
}
.nav-tabs{
  --bs-nav-tabs-link-hover-border-color: #ffffff;
}
.nav-link{
--bs-nav-link-color: #ffffff;
/* background-color: #5B606D; */
background-color: #31AA52;
font-size: 18px;
margin: 0 10px;
}
.nav-link:hover{
  /* background-color: #42526E; */
  background-color: #157347;
}
.nav-link.active{
--bs-nav-tabs-link-active-color: #ffffff;
/* --bs-nav-tabs-link-active-bg: #172249; */
--bs-nav-tabs-link-active-bg: #157347;
font-weight: 700;
}
.maintabs-upload-files, .maintabs-match-tewak-resume, .maintabs-cover-letter{
  border-bottom: 1px solid #DEE2E6;
}
#btn-notice{
  background-color: #5B606D;
}
#btn-notice:hover{
  background-color: #172249;
}
#btn-notice.active{
  background-color: #172249;
}
.drop-area {
  border: 2px dashed #B1B1B1;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.material-icons-outlined{
  font-size: 50px;
  color: #B1B1B1;
}
#job-description-drop-area > p, #resume-drop-area > p{
  color: #B1B1B1;
}
#jobRequirementsTextarea, #jobResumeMatchTextarea, #tweakResumeTextarea, #coverLetterTextarea, #interviewQuestionTextarea{
  width: 100%;
  height: 250px;
  border: 2px solid #B1B1B1;
}
.submit-btn, .download-btn{
  background-color: #31AA52;
  color: #ffffff;
  padding: 5px 50px;
  border: none;
  border-radius: 8px;
}
.clear-btn{
  background-color: #6C757D;
  color: #ffffff;
  padding: 5px 57px;
  border: none;
  border-radius: 8px;
}