/* home */
#header-home{
    max-width:100%;
}
.header-home-h1-mobile{
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
}
#header-home-h1-mobile{
    font-weight: bold;
    letter-spacing: 0.03em;
    margin: 0;
    font-size: 23px;
}
#header-home-h1-laptop{
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
    font-size: 60px;
}
.section-home-01-p{
    margin-bottom: 10px;
}
.section-home-01-h2{
    margin-bottom: 25px;
}
#moreDetails{
    padding: 5px 30px;
}
.img-overlay{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.card-img {
    object-fit: cover;
}
.card-image-fit-01{
    height: 30vh;
    object-fit: cover;
}
.card-image-fit-02{
    height: 64vh;
    object-fit: cover;
}
#btn-signUpOurService-mobile{
    display: block;
    padding: 0 15px 0 15px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px; 
}
#btn-signUpOurService-laptop{
    display: block;
    padding: 0 25px 0 25px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.home-icon{
    width: 3em;
    height: 3em;
}
.bg-body-secondary {
    --bs-bg-opacity: 0;
}