#btn-jobApply-submit{
    background-color: #31AA52;
    color: #ffffff;
    padding: 5px 50px;
    border: none;
  }
  #btn-jobApply-reset{
    background-color: #6C757D;
    color: #ffffff;
    padding: 5px 56px;
    border: none; 
  }