body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* navigation */
nav{
    background-color: #172249;
    color: #ffffff;
    height: 80px;
}
.navbar-nav{
    background-color: #172249;
    position: relative;
    z-index: 1;
}
.nav-item{
    padding: 10px;
}
.nav-link{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.sr-only{
    display: none;
}
#btn-header-signup{
    background-color: #31AA52;
    border-radius: 6px;
}
#btn-header-signup:hover{
    background-color: #157347;
    color: #ffffff;
}

/* main */
h1{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
}
label{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.btn-success{
    --bs-btn-bg: #31AA52;
    --bs-btn-border-color: #31AA52;
}

/* footer */
#copyright{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 14px;
}

/* common parts */
#area-signupnow{
    background-color: #172249;
    color: #ffffff;
    padding: 20px 30px 25px 30px;
    border-radius: 8px;
}
#area-signupnow > p{
    display: inline-block;
    margin: 0;
}
#area-signupnow > p > strong{
    font-size: 22px;
    padding: 0 15px;
}
#btn-signupnow{
    padding: 0 40px 0 40px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}

/* each page */

/* home */
#header-home{
    max-width:100%;
}
.header-home-h1-mobile{
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
}
#header-home-h1-mobile{
    font-weight: bold;
    letter-spacing: 0.03em;
    margin: 0;
    font-size: 23px;
}
#header-home-h1-laptop{
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
    font-size: 60px;
}
.section-home-01-p{
    margin-bottom: 10px;
}
.section-home-01-h2{
    margin-bottom: 25px;
}
#moreDetails{
    padding: 5px 30px;
}
.img-overlay{
    /* height: 100%;
    opacity: 0.7;
    background-color: rgb(0, 0, 0); */
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.card-img {
    object-fit: cover;
}
.card-image-fit-01{
    height: 30vh;
    object-fit: cover;
}
.card-image-fit-02{
    height: 64vh;
    object-fit: cover;
}
/* #btn-signUpOurService{
    display: block;
    padding: 0 25px 0 25px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
} */
#btn-signUpOurService-mobile{
    display: block;
    padding: 0 15px 0 15px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px; 
}
#btn-signUpOurService-laptop{
    display: block;
    padding: 0 25px 0 25px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.home-icon{
    width: 3em;
    height: 3em;
}
.bg-body-secondary {
    --bs-bg-opacity: 0;
}

/* Blogs */
.card{
    border: none;
}
.card-style{
    background-color: #172249;
    color: #ffffff;
}
.img-blogs{
    background-repeat: no-repeat;            
    width:240px;
    height:300pX;
    object-fit: cover;
    border-radius: 8px;
}
a{
    text-decoration-thickness: 2px;
}
.title-blogs{
    font-size: 25px;
}

/* about us */
#title-aboutus{
    letter-spacing: 0.02em;
}
.aboutUs-image-fit{
    height: 60vh;
    object-fit: cover;
    border-radius: 8px;
}
.title-team{
    margin-top: 100px;
}
.description-team{
    margin-bottom: 70px;
}
.card-header, .card-footer{
    background-color: #ffffff;
    border: none;
}
.img{
    width: 170px;
    height: 170px;
}

/* FAQ */
.accordion{
    --bs-accordion-active-bg: #172249;
    --bs-accordion-active-color: #ffffff;
    --bs-accordion-btn-color: #000000;
    /* --bs-accordion-btn-focus-box-shadow: 0 0 0 0.15rem #404C78; */
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.15rem #7898fb;
}

.accordion-button:not(.collapsed)::after{   
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

/* log in */
#form-login{
    background-color: #172249;
    padding: 25px 75px 40px 75px;
    border-radius: 8px;
}
#btn-login{
    padding: 0 80px 0 80px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 17px;
}

/* sign up */
#form-signup{
    background-color: #172249;
    width: 950px;
    padding: 10px 100px 40px 100px;
    border-radius: 8px;
}
#btn-signup{
    padding: 0 80px 0 80px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 17px;
}