body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* common parts */
h1{
  letter-spacing: 0.05rem;
}
.btn-success{
  --bs-btn-bg: #31AA52;
  --bs-btn-border-color: #31AA52;
}
.navbar{
  background-color: #172249;
  color: #ffffff;
  padding-bottom: 0;
}
.navbar-nav{
  background-color: #5B606D;
  border-top: 1px solid #ffffff;
  height: 68px;
}
.navbar-collapse{
  padding: 0;
}
header .collapse.show, header .collapsing{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}
.companyName, .jobTitle{
  font-size: 16px;
}
.jobTitle{
  padding-left: 20px;
}
.companyNameDisplay, .jobTitleDisplay{
  font-size: 23px;
  font-weight: 600;
  padding-left: 5px;
}
.btn-jobApplication{
  height: 100%;
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #5B606D;
  color: #ffffff;
  margin: 0;
  padding: 5px 0;
  font-size: 18px;
}
.btn-jobApplication:hover{
background-color: #42526E;
}
.btn-jobApplication-current{
  background-color: #172249;
  color: #ffffff;
}

/* Header for ai services */
.navbar-nav .custom-col-md-7 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.custom-col-md-7 > .nav-item {
  flex: 0 0 auto;
  width: calc(100% / 7); /* Split into 7 columns */
}
