#btn-list{
  background-color: #31AA52;
  color: #ffffff;
  padding: 5px 80px;
  border: none;
  border-radius: 8px;
}
#btn-contact{
  background-color: #31AA52;
  color: #ffffff;
  padding: 5px 63px;
  border: none;
  border-radius: 8px;
}
#btn-view-cancel{
  background-color: #31AA52;
  color: #ffffff;
  padding: 5px 47px;
  border: none;
  border-radius: 8px;
}
#btn-forget{
  background-color: #31AA52;
  color: #ffffff;
  padding: 5px 26px;
  border: none;
  border-radius: 8px;
}