body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* common parts */
h1{
  letter-spacing: 0.05rem;
}
.btn-success{
  --bs-btn-bg: #31AA52;
  --bs-btn-border-color: #31AA52;
}
.navbar{
  background-color: #172249;
  color: #ffffff;
  padding-bottom: 0;
}
.navbar-nav{
  background-color: #5B606D;
  border-top: 1px solid #ffffff;
  height: 68px;
}
.navbar-collapse{
  padding: 0;
}
.collapse.show, .collapsing{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}
.companyName, .jobTitle{
  font-size: 16px;
}
.jobTitle{
  padding-left: 20px;
}
.companyNameDisplay, .jobTitleDisplay{
  font-size: 23px;
  font-weight: 600;
  padding-left: 5px;
}
.btn-jobApplication{
  height: 100%;
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #5B606D;
  color: #ffffff;
  margin: 0;
  padding: 5px 0;
}
.btn-jobApplication:hover{
background-color: #42526E;
}
.btn-jobApplication-current{
  background-color: #172249;
  color: #ffffff;
}

/* each page */

/* Dashboard */
.table > thead{
  --bs-table-bg: #172249;
  --bs-table-color: #ffffff;
}
th{
  border: 1px solid #ffffff;
}

/* new upload files / new_job_resume_match */
.nav-tabs{
  --bs-nav-tabs-link-hover-border-color: #ffffff;
}
.nav-link{
--bs-nav-link-color: #000000;
font-size: 18px;
}
.nav-link.active{
--bs-nav-tabs-link-active-border-color: #172249;
border-top: 0px solid #172249;
border-right: 0px solid #172249;
border-left: 0px solid #172249;
border-bottom: 4px solid #172249;
font-weight: 700;
}
.drop-area {
  border: 2px dashed #B1B1B1;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.material-icons-outlined{
  font-size: 50px;
  color: #B1B1B1;
}
#job-description-drop-area > p, #resume-drop-area > p{
  color: #B1B1B1;
}
.maintabs-upload-files, .maintabs-match-tewak-resume{
  border-bottom: 1px solid #DEE2E6;
}
#jobRequirementsTextarea, #jobResumeMatchTextarea, #tweakResumeTextarea{
  width: 100%;
  height: 250px;
  border: 2px solid #B1B1B1;
}
.submit-btn, .download-btn{
  background-color: #31AA52;
  color: #ffffff;
  padding: 5px 50px;
  border: none;
}
.clear-btn{
  background-color: #6C757D;
  color: #ffffff;
  padding: 5px 57px;
  border: none; 
}